#primeiro-titulo{
    color: blueviolet;
}

.fundo-preto{
    background: black;
}

#primeira-ol{
    color: green;
}

#primeira-ul{
    color:aqua;
}

#segunda-ul{
    color: yellow;
}
#terceira-ul{
    color: tomato;
}